.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.archive-button {
  color: black;
  background-color: #fff;
  margin-bottom: 10px;
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.habits__container {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
}

.habit {
  height: 150px;
  border-radius: 8px;
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 650;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.habit p {
  margin: 0;
}

.habit__button__container {
  display: flex;
  align-items: center;
  margin-bottom: 15px
}

.habit__button__container button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.create-habit {
  background-color: #cbcbcb;
  color: #787878;
}

.modal .MuiPopover-paper {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-height: calc(100% - 10px) !important;
  background-color: #262626;
  color: white;
}
